
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
body {
    background-color: #111;
}

.hypeHid {
    color: #111;
    text-decoration: none;
}

.hypeHid:hover {
    color: #100f0f;
    text-decoration: none;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid #000;
}


.title {
    font-family: "Montserrat";
    text-align: center;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    letter-spacing: 1px;
}
/* Style the navbar */
#navbar:hover {
    background-image: linear-gradient(to top, rgb(255, 255, 255), rgb(255, 255, 255));
    color: black;
}

#navbar #shizwanidropdown{
    background-image: linear-gradient(to top, rgb(255, 255, 255), rgb(255, 255, 255));

}

#navbar:hover #shizwanidropdown{
    background-image: linear-gradient(to bottom, rgb(50, 50, 50), rgb(0, 0, 0));

}
#navbar:hover #shizwanidropdown div a{
    color: white;

}

#shizwanidropdown div a {
    color: black;
    font-size: 2rem;
    padding: 10px;
}

#navbar  {

    z-index: 600;
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgb(50, 50, 50), rgb(0, 0, 0));
}

/* Navbar links */
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 5em;
    text-decoration: none;
}

/* Page content */
.content {
    padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}

.make_text_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.make_text_center_container {
    position: relative;
    text-align: center;
    color: white;
}

.navBtn{
    font-family: 'Montserrat', sans-serif;
}